/**********************TAG SELECTORS**********************/

hr {
  border: none;
  border-top: dotted slategrey;
  border-width: 5px;
  width: 50px;
}
body {
  background-color: honeydew;
}
h1 {
  color: cadetblue;
}
h3 {
  color: cadetblue;
}

/*********************CLASS SELECTORS**********************/

.mana {
  height: 5%;
  width: 5%;
}
.mana:hover {
  background-color: dimgray;
}

/*********************ID SELECTORS*************************/

#Top {
  color: orange;
}
